{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        {% if messages %}
            <ul class="messages">
                 {% for message in messages %}
                    <li{% if message.tags %} class="alert alert-{{ message.tags }}"  role="alert"{% endif %}>
                       {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                              {{ message }}
                    </li>
                 {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" >
             {% csrf_token %}
             {{form.as_p}}
    <div class="row justify-content-center mb-3">
              
        <div class="col-4">
    <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
</div>

{% endblock %}
{% comment %}  {% endcomment %}