{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        {% if messages %}
            <ul class="messages">
                 {% for message in messages %}
                    <li{% if message.tags %} class="alert alert-{{ message.tags }}" role="alert"{% endif %}>
                       {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                              {{ message }}
                    </li>
                 {% endfor %}
            </ul>
        {% endif %}
        {% if form.errors %}
          <div style="color: red;"> 
            <strong>Please Solve below errors:</strong>
          <ul>
            {% for field,errors in form.errors.items  %}
              {% for error in errors %}
               <li>{{error}}</li>
              {% endfor %}
            
            {% endfor %}
          </ul>
         </div>
          {% endif %}
          <form method="post" >
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email: </label>
            {{form.email}}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    
        </div>
    </div>
</form>
</div>

{% endblock %}